<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="./css/index.css")
    link(href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:300&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous")
    title AI -Introduction
    script(src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js")
  body
    h2(class="text-center title-h2") 人工智慧
    h1(class="text-center title-h1 ml3") Artificial Intelligence
    ul.list
      li 
        a(href="./index.html") AI基本介紹
      li
        a(href="./area.html") AI分支領域
      li
        a(href="./resource.html") AI學習資源
      li
        a(href="./team.html") 團隊介紹
    
    .define
      h3 人工智慧定義
      p 何謂人工智慧？即指讓電腦/機器具有和人類的相似行為出現，包含具有學習，推理與判斷解決問題，儲存記憶，瞭解人類所說的語言等能力。
    .category
      img(src="./imgs/robot1.jpg").robot1
      .category-content
        h3 人工智慧分類
        h4 弱人工智慧
        p 電腦能解決某個需要高度智力才能解決的問題，而不要求它跟人類一樣有全面智慧解決各式各樣不同的問題，例如AlphaGo只會下棋，就是弱AI的一個例子
        h4 強人工智慧
        p 強人工智慧要求電腦的智慧需要更全面廣泛，需要有推理、學習、規劃、語言溝通、知覺等能力，擁有這些能力的電腦才有可能展現出全面性的智慧、跟人類並駕齊驅。
    h1.apply 著名人工智慧應用
      span.line
    .ai-robot
      h3.staring 1. AI 機器人 Sophia
      p 由香港的漢森機器人技術公司（Hanson Robotics）開發的機器人，具有人工智慧、視覺數據處理和面部識別等功能。在2017年10月，索菲亞成為沙烏地阿拉伯公民，這是世界上第一個獲得國籍的機器人。
      iframe(width="784" height="441" src="https://www.youtube.com/embed/Bg_tJvCA8zw?start=222" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
    .alphago
      .content
        h3.staring 2. 打敗職業資深棋手 - AlphaGo
        p 由英國倫敦Google DeepMind開發的人工智慧圍棋軟體，使用了蒙地卡羅樹搜尋與兩個深度神經網路相結合的方法，其中一個是以估值網路來評估大量的選點，而以走棋網路來選擇落子。在這種設計下，電腦可以結合樹狀圖的長遠推斷，又可像人類的大腦一樣自發學習進行直覺訓練，以提高下棋實力。
      img(src="./imgs/alphago.png", alt="")
    .ai-car
      iframe(width="560" height="315" src="https://www.youtube.com/embed/gfWjsKsEry0?start=115" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
      .content
        h3.staring 3. AI 自駕車
        p 人工智慧在自駕車的常見應用主要物件辨識系統，透過深度學習的架構中的卷積類神經網路訓練自駕車需要的模型，並在車輛部署攝像頭、激光雷達、毫米波雷達等傳感器才能辨識周圍的障礙物，將拍攝到的障礙物轉為矩形並進行迴避。
    .question
      h1.ml2 - AI發展衍生出的問題 -
      .border
        .q1
          h4 1. 在AI持續發展的情況下，某些工作將會被AI取代。
          p 例如製造業，講求的是效率和標準，機器人相比人類較不會有疲乏的狀況發生，他可以工作24小時動作一樣標準，還有客服人員和司機也是容易被取代的群體之一，在現在的社會自駕車越來越發達，當它開始普及後能減少交通事故率，還能夠計算出走哪條路的時間能夠最少，這個會是自駕車最大的優勢，同時也是未來會造成龐大失業人潮的一大原因。
          img(src="./imgs/work.jpg", alt="" width="450" height="auto")
      .border
        .q2
          h4 2. 錯誤及偏見
          p 由於機器是根據人類給出的資料作訓練，若是資料本身就帶有偏見的成分，那麼訓練出來的機器做判斷時就會有錯誤的問題產生。
          p 案例: 麻省理工學院（MIT）的一名研究員指出，由於提供給 AI 訓練資料不夠多樣化，有 3 家著名科技公司的臉部辨識系統在分辨深膚色女性時，都有 20% 以上的出錯率。相反的，可能因為 AI 一開始訓練時即得到大量相關資料，該 3 家系統在辨別淺膚色男性時只有 0.8% 的出錯率。另一個著名的例子是在 2015 年，Google 的影像辨識系統將非裔網友標示為「大猩猩」，隨後為此道歉。很明顯的，兩個例子裡辨識系統皆難以辨別出深膚色的人種，使得 AI 的推斷結果帶有種族歧視。
          img(src="./imgs/people.jpg", alt="" width="450" height="auto")
      .border
        .q3
          h4 3. 人工智慧的發展是否會超出人類的控制
          p 人類之所以能夠在食物鏈的頂端，不在於人類相較其他物種有強壯的體態或鋒利的牙齒，而是因為人類有所謂的智慧，透過智慧可以創造許多的工具，以獵捕比我們更強壯、速度更快的物種。但是當機器人越來越聰明，人工智慧超越我們的智慧，該如何控制他們？維持人類的統治地位？
          img(src="./imgs/robot2.jpg", alt="" width="450" height="auto")
    .footer
      p Copyright © AI Introduction 2019 - 建議使用 Chrome 瀏覽器，搭配 1440x697 可得最佳瀏覽畫面
    .toTop
      a(href="#")
        i.fas.fa-arrow-circle-up
          span 回到頂端
    script
      include ./js/index.js